.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d28ff;
  padding: 0 20px;
  width: 100%;
  height: 70px;
}

.header-container ul {
  display: flex;
  gap: 20px;
}

.header-container a {
  color: #ffffff;
}

.active {
  font-weight: 700;
}

.inactive {
  font-weight: 300;
}
